{% extends 'base.html.twig' %}
{% block body %}
    {% include 'header.html.twig' %}
    <div class="container my-5">
        <div class="searchBox">
            <h2>Поиск курсов</h2>
            <form id="searchForm" class="mb-4" action="{{ path('search') }}" method="get">
                <div class="input-group">
                    <input type="text" id="live_search" name="q" class="form-control"
                           placeholder="Введите название курса">
                    <button class="btn btn-default my-2 my-sm-0 btn-primary" type="submit">Искать</button>
                </div>
            </form>

        </div>
    </div>

    <section class="container my-5">
        <h2 class="text-center mb-4">Последние курсы</h2>
        <div class="row">
            {% for course in courses %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ course.image }}" width="250" height="250" class="card-img-top">

                        <div class="card-body">
                            <h5 class="card-title">{{ course.name }}</h5>
                            <p class="card-text"></p>
                            <form action="{{ path("about") }}" method="post">
                                <input hidden name="id" value="{{ course.id }}">
                                <button type="submit" class="btn btn-primary"> Подробнее</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2023 Онлайн-школа</p>
    </footer>
{% endblock %}